<form>
  <h2 mat-dialog-title>新建项目</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="项目名称">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="项目描述">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="parimary" type="button" (click)="onClick()">保存</button>
    <button mat-button type="button" mat-dialog-close>关闭</button>
  </div>
</form>


