.card{
  height:360px;
  flex: 0 0 22.5%;
  margin: 1.25%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}