<div [formGroup]="form" class="full-width">
  <span>{{label}}</span>
  <br>
  <mat-form-field class="full-width">
    <mat-chip-list #chipList>
      <mat-chip
        selected="true"
        *ngFor="let member of items"
        (removed)="removeMember(member.name)">
        {{member.name}}
        <mat-icon matChipRemove >cancel</mat-icon>
      </mat-chip>
      <input
        [disabled] = "isDisabled"
        #memberInput
        [matChipInputFor]="chipList"
        [placeholder]="placeholderText"
        [matAutocomplete]="auto"
        formControlName="memberSearch">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleMemberSelection($event)">
      <mat-option *ngFor="let item of memberResults$ | async" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
