<div class="taskLists">
  <app-task-list 
    app-droppable 
    class="listContainer" 
    [dragEnterClass]="'drag-enter'" 
    [dropTags]="['task-item','task-list']"
    [app-draggable]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    (dropped)="handleMove($event,list)"
    [style.order]="list.order"
    *ngFor="let list of lists">
    <app-task-header [header] = "list.name" 
    (onNewTask)="openNewTaskDialog(list.id)" 
    (onCopyTask)="openCopyTaskDialog()" 
    (onDelTask)="openDelTaskDialog(list)"
    (onEditList)="openEditListDialog(list)">

    </app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="openEditTaskDialog(task)">

    </app-task-item>
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="openNewListDialog()">
  <mat-icon>add</mat-icon>
</button>