.site {
  //设置display：flex只对直接子元素起作用
  display: flex;
  flex-direction: column;
}

main {
  //flex是对flex-grow，flex-shrink，flex-basis的简写，表示main元素自动撑满页面
  flex:auto;
}

mat-sidenav{
  width: 300px;
}

//黑夜主题背景色
mat-sidenav-container.myapp-dark-theme {
  background-color: black;
}