<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <h2 mat-dialog-title>{{title}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="任务内容" formControlName="desc">
    </mat-form-field>
    <mat-radio-group aria-label="" formControlName="priority">
      <mat-radio-button [value]="priority.value" *ngFor="let priority of priorityes">
        {{priority.label}}
      </mat-radio-button>
    </mat-radio-group>

    <div style="margin-top:15px;">
      <app-chip-list 
        formControlName="performerChips" 
        [multiple]="false" 
        [label]="performerLabel">
      </app-chip-list>
    </div>

    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="dueDatepicker"  placeholder="任务截止日期" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker></mat-datepicker>
    </mat-form-field>
    <!-- <button type="button" matSuffix [for]="dueDatepicker"></button> -->


    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="reminderDatepicker" placeholder="提醒日期" formControlName="reminder">
      <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </mat-form-field>
    <!-- <button type="button" matSuffix [for]="reminderDatepicker"></button> -->

    <app-chip-list 
      formControlName="participantChips" 
      [multiple]="true" 
      [label]="participantLabel">
    </app-chip-list>

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="备注" formControlName="remark">
    </mat-form-field>


  </div>
  <div mat-dialog-actions *ngIf="notConfirm else confirm">
    <button mat-raised-button color="parimary" type="submit">保存</button>
    <button mat-button type="button" mat-dialog-close>关闭</button>
    <button mat-button color="warn" type="button" [disabled]="delInvisible" (click)="onDelClick(false)">删除</button>
  </div>
  <ng-template #confirm>
    <div fxLayout="row">
      <span class="fill-remaining-space mat-body-2">是否确定删除？</span>
      <button mat-button color="warn" type="button" (click)="reallyDel()">确定</button>
      <button mat-raised-button color="primary" type="button" (click)="onDelClick(true)">取消</button>
    </div>
  </ng-template>
  
</form>
