<div [formGroup]="form" class="age-input">
  <div>
    <mat-form-field>
      <input matInput  [matDatepicker]="birthPicker" placeholder="出生日期" value="" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #birthPicker></mat-datepicker>
      <!-- <mat-error>日期不正确</md-error> -->
    </mat-form-field>
  </div>
  <ng-container formGroupName="age">
    <div class="age-num">
      <mat-form-field style="width:50px;">
        <input matInput type="number" placeholder="年龄" formControlName="ageNum">
      </mat-form-field>
    </div>
    <div>
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" formControlName="ageUnit">
        <mat-button-toggle value="" *ngFor="let item of ageUnits">{{item.label}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </ng-container>
</div>
