<div style="margin-top: 20px;">
  <mat-form-field>
    <mat-label>证件类型</mat-label>
    <mat-select (selectionChange)="onIdTypeChange($event.value)" [(ngModel)]="identity.identityType"> 
      <mat-option *ngFor="let type of identityTypes" [value]="type.value">
        {{type.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="id-input">
  <mat-form-field class="full-width">
    <input matInput placeholder="证件号码" (change)="onIdNoChange($event.target.value)" [(ngModel)]="identity.identityNo">
  </mat-form-field>
</div>